# Auto Claims Data Load

## Install required packages

In [3]:
# !pip install numpy
# !pip install pandas
# !pip install scikit-learn
# !pip install dask
# !pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.5.3-cp39-cp39-win_amd64.whl (7.2 MB)
     ---------------------------------------- 7.2/7.2 MB 9.4 MB/s eta 0:00:00
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\virtualenvs\autoclaims\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\virtualenvs\autoclaims\lib\site-packages (from matplotlib) (21.3)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.34.4-py3-none-any.whl (944 kB)
     ------------------------------------- 944.1/944.1 kB 12.0 MB/s eta 0:00:00
Requirement already satisfied: pyparsing>=2.2.1 in c:\virtualenvs\autoclaims\lib\site-packages (from matplotlib) (3.0.9)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp39-cp39-win_amd64.whl (55 kB)
     ---------------------------------------- 55.4/55.4 kB 2.8 MB/s eta 0:00:00
Collecting pillow>=6.2.0
  Downloading Pillow-9.2.0-cp39-cp39-win_amd64.whl (3.3 MB)
     ---------------------------------------- 3.3/3.3 MB 9.5 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17 in c:\virtualenvs\autoclaims\lib\site-packages (from matplotlib) (1.23.1)
Requirement already satisfied: six>=1.5 in c:\virtualenvs\autoclaims\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: pillow, kiwisolver, fonttools, cycler, matplotlib
Successfully installed cycler-0.11.0 fonttools-4.34.4 kiwisolver-1.4.4 matplotlib-3.5.3 pillow-9.2.0

## Load Packages

In [5]:
import numpy as np
import pandas as pd
import matplotlib
import os

%matplotlib inline

## Set up working directories

In [8]:
cwd = os.getcwd()

inputdir = "C:\\devl\\AutoClaims\\data"
outputdir = "C:\\devl\\AutoClaims\\output"

## Read in Data

In [13]:
dat = pd.read_csv(inputdir + "\\train_set.csv")

C:\Users\kharu\AppData\Local\Temp\ipykernel_18408\2247785172.py:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  dat = pd.read_csv(inputdir + "\\train_set.csv")

In [14]:
dat.head()

,Row_ID,Household_ID,Vehicle,Calendar_Year,Model_Year,Blind_Make,Blind_Model,Blind_Submodel,Cat1,Cat2,...,Var5,Var6,Var7,Var8,NVCat,NVVar1,NVVar2,NVVar3,NVVar4,Claim_Amount
0,1,1,3,2005,2005,K,K.78,K.78.2,D,C,...,1.008912,0.261040,0.907793,-0.077998,M,-0.23153,-0.266117,-0.272337,-0.251419,0.0
1,2,2,2,2005,2003,Q,Q.22,Q.22.3,B,C,...,1.240851,0.432987,-0.726459,0.204785,O,-0.23153,-0.266117,-0.272337,-0.251419,0.0
2,3,3,1,2005,1998,AR,AR.41,AR.41.1,B,?,...,-0.971487,-1.405797,-0.837048,-1.176858,F,-0.23153,-0.266117,-0.272337,-0.251419,0.0
3,4,3,1,2006,1998,AR,AR.41,AR.41.1,B,?,...,-0.971487,-1.405797,-0.837048,-1.176858,F,-0.23153,-0.266117,-0.272337,-0.251419,0.0
4,5,3,2,2005,2001,D,D.20,D.20.0,J,C,...,0.812656,2.112691,1.534462,2.347260,F,-0.23153,-0.266117,-0.272337,-0.251419,0.0

## Train/test splits

### Generate folds that:
    1. Stratify on claim / no claim
    2. Keep households and household vehicles within-folds to prevent data leakage

In [15]:
dat['Claim'] = dat['Claim_Amount'] > 0

In [16]:
dat['Claim'].mean()

0.007251433334673312